.chat__header{
    text-align: center;
    font-family: sans-serif;
    background: #ddd;

    &__status{
        font-size: 20px;
        line-height: 24px;
        color: green;
        font-weight: bold;
    }

    &__name{
        font-size: 24px;
        line-height: 28px;
    }
}